@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.Title{
    font-family: 'Bree Serif', serif;
    margin: 20px;
    font-size: 50px;
}

.Search{
    border: none;
    background: transparent;
}
.Search:hover{
    transform: scale(1.10);
}

.Search img{
    width: 20px;
}
.deliveryPlaces{
    list-style: none;
    justify-content: center; 
    
}
.deliveryPlaces a{
    color: rgb(27, 27, 27);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 200ms linear;
}
.deliveryPlaces a:hover{
    color: black;
    box-shadow: 0 0 6px black;
}
.deliveryPlacesItem{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(233, 233, 233);
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(236, 208, 115);
    text-decoration: none;
    width: 60%;
    margin-left: 20vw;
}