@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.Title{
    font-family: 'Bree Serif', serif;
    margin: 20px;
    font-size: 50px;
}
.list{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.buttonCollect{
    width: 20%;
    height: 100%;
    margin-left: 40vw;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    background-color: #c08738;
    border:none;
    border-radius: 10px;

    cursor: pointer;
    box-shadow: 0 0 1px 0 #000;

    transition: box-shadow 200ms linear;
}
.buttonCollect:hover{
    box-shadow: 0 0 6px black;
    transform: scale(1.05);
    color: rgb(0, 0, 0);
}