@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.Title{
    font-family: 'Bree Serif', serif;
    margin: 20px;
    font-size: 50px;
}
.deliveryPlaces{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    
}
.deliveryPlacesItem{
    position: relative;
    border: 1px solid rgb(233, 233, 233);
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(236, 208, 115);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.ComponentFreguesias{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Search{
    border: none;
    background: transparent;
}
.Search:hover{
    transform: scale(1.10);
}

.Search img{
    width: 20px;
}