@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.container {
    margin-top: 10vh;
    margin-left: 5vw;
    width: 500px;
    height: 120px;
}

.container img {
    width: 100%;
    height: auto;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin-left: 60vw;
    margin-top: 5vh;
}
.ButtonDonate {
    text-decoration: none;
    background-color: rgb(209, 174, 109);
    color: white;
    border-radius: 5px;
    font-size: 40px;
    width: 20rem;
    padding: 10px;
    margin-bottom: 10px;

    cursor: pointer;
    box-shadow: 0 0 1px 0 #000;

    transition: box-shadow 200ms linear;
}
/* .ButtonDonate a{
    margin-top: 2px;
    margin-left: 15px;
}
.ButtonCollect a{
    margin-top: 2px;
    margin-left: 55px;
} */

.ButtonCollect {
    text-decoration: none;
    background-color: rgb(207, 155, 57);
    color: white;
    font-size: 30px;
    border-radius: 5px;
    font-size: 40px;
    width: 20rem;
    margin-top: 10px;
    padding: 5px;
    text-align: center;

    cursor: pointer;
    box-shadow: 0 0 1px 0 #000;

    transition: box-shadow 200ms linear;
    
}
.ButtonDonate:hover {
    box-shadow: 0 0 6px black;
    transform: scale(1.05);
    color: white;
}
.ButtonCollect:hover{
    box-shadow: 0 0 6px black;
    transform: scale(1.05);
    color: white;
}
